mat-toolbar {
  --mat-toolbar-container-background-color: var(--color-primary);
  --mat-toolbar-background-color: var(--color-muted);
  --mat-toolbar-container-text-color: var(--color-on-primary);
}

.example-spacer {
  flex: 1 1 auto;
}
