<mat-toolbar>
  <button class="text-white" aria-label="msg logo">
    <img src="msg_logo_color.svg" alt="msg logo" class="ml-3 h-18 w-18" />
  </button>
  <span class="example-spacer"></span>
  <app-button-container
    label="Events"
    (handleClick)="navigateToEventList.emit()"
  ></app-button-container>
  <app-button-container
    label="User"
    (handleClick)="navigateToUserList.emit()"
  ></app-button-container>
  <ng-content></ng-content>
  <app-user-icon-view></app-user-icon-view>
</mat-toolbar>
