mat-toolbar {
<<<<<<< HEAD
  --mat-toolbar-container-background-color: var(--color-primary);
  --mat-toolbar-background-color: var(--color-muted);
  --mat-toolbar-container-text-color: var(--color-on-primary);
=======
  --mat-toolbar-container-background-color: #e2e2e2;
  --mat-toolbar-background-color: #e2e2e2;
  --mat-toolbar-container-text-color: #a01441;
>>>>>>> 11f2496fb03c4ab479b6453f550d68d54c994b59
}

.example-spacer {
  flex: 1 1 auto;
}
