{
  "printWidth": 100,
  "singleQuote": true,
  "endOfLine": "auto",
  "arrowParens": "always",
  "bracketSpacing": true,
  "htmlWhitespaceSensitivity": "strict",
  "semi": true,
  "trailingComma": "es5"
}
