<app-generic-form-view
  [formGroup]="formGroup"
  [submitLabel]="'LOGIN.TITLE' | translate"
  [isLoading]="isLoading"
  (formSubmit)="formSubmit.emit()"
>
  <div>
    <div class="flex items-center gap-3">
      <label for="email">{{ 'LOGIN.EMAIL' | translate }}</label>

      <input id="email" type="email" [formControl]="$any(formGroup.controls['email'])" />
    </div>

    @if ( formGroup.controls['email'].touched && formGroup.controls['email'].hasError('required') )
    {
    <p>{{ 'LOGIN.EMAIL_REQUIRED' | translate }}</p>
    } @if ( formGroup.controls['email'].touched && formGroup.controls['email'].hasError('email') ) {
    <p>{{ 'LOGIN.EMAIL_INVALID' | translate }}</p>
    }
  </div>

  <div>
    <div class="flex items-center gap-3">
      <label for="password" class="whitespace-nowrap"> {{ 'LOGIN.PASSWORD' | translate }} </label>

      <input id="password" type="password" [formControl]="$any(formGroup.controls['password'])" />
    </div>

    @if ( formGroup.controls['password'].touched &&
    formGroup.controls['password'].hasError('required') ) {
    <p>{{ 'LOGIN.PASSWORD_REQUIRED' | translate }}</p>
    } @if ( formGroup.controls['password'].touched &&
    formGroup.controls['password'].hasError('minlength') ) {
    <p>{{ 'LOGIN.PASSWORD_MIN_LENGTH' | translate }}</p>
    }
  </div>
</app-generic-form-view>
