<app-user-list-view
  [users]="pagedUsers()"
  [columns]="tableColumns"
  [roles]="roles()"
  [locations]="locations()"
  [selectedRoles]="selectedRoles()"
  [selectedLocations]="selectedLocations()"
  [selectedStatuses]="selectedStatuses()"
  [firstNameQuery]="firstNameQuery()"
  [lastNameQuery]="lastNameQuery()"
  [emailQuery]="emailQuery()"
  [totalItems]="totalFilteredItems()"
  [pageIndex]="pageIndex()"
  [pageSize]="pageSize()"
  [pageSizeOptions]="pageSizeOptions"
  [isLoading]="isLoading()"
  (firstNameSearchChange)="onFirstNameSearchChange($event)"
  (lastNameSearchChange)="onLastNameSearchChange($event)"
  (emailSearchChange)="onEmailSearchChange($event)"
  (roleChange)="onRoleChange($event)"
  (locationChange)="onLocationChange($event)"
  (statusChange)="onStatusChange($event)"
  (resetFilters)="onResetFilters()"
  (pageChange)="onPageChange($event)"
  (cellAction)="onCellChange($event)"
>
</app-user-list-view>
