.user-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    border-radius: 50%;
    margin-left: 25px;
}
.user-icon-container span{
    margin-right: 2px;
    font-size: 14px;
    align-items: top;
}
.user-icon-container .user-icon {
    border-radius: 50%;
    width: 33px;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-icon-container .user-icon img {
        width: 25px;
        height: 25px;
        border-radius: 50%;
}

.user-icon-container .user-icon .initials {
    font-size: 15px;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 2px;
    margin-top: 2px;
}

