<app-event-list-view
  [events]="pagedEvents()"
  [columns]="tableColumns"
  [types]="types()"
  [statuses]="statuses()"
  [locations]="locations()"
  [selectedTypes]="selectedTypes()"
  [selectedStatuses]="selectedStatuses()"
  [selectedLocations]="selectedLocations()"
  [nameQuery]="nameQuery()"
  [startTimeQuery]="startTimeQuery()"
  [totalItems]="totalFilteredItems()"
  [pageIndex]="pageIndex()"
  [pageSize]="pageSize()"
  [pageSizeOptions]="pageSizeOptions"
  [isLoading]="isLoading()"
  [userRole]="userRole()"
  (nameSearchChange)="onNameSearchChange($event)"
  (typeChange)="onTypeChange($event)"
  (statusChange)="onStatusChange($event)"
  (locationChange)="onLocationChange($event)"
  (startTimeChange)="onStartTimeChange($event)"
  (resetFilters)="onResetFilters()"
  (pageChange)="onPageChange($event)"
  (viewEvent)="onViewEvent($event)"
  (editEvent)="onEditEvent($event)"
  (publishEvent)="onPublishEvent($event)"
  (completeEvent)="onCompleteEvent($event)"
  (createEvent)="onCreateEvent()"
>
</app-event-list-view>

@if (selectedEventId(); as eventId) {
<app-event-card-container
  [eventId]="eventId"
  (close)="onCloseEventCard()"
></app-event-card-container>
}
