<div class="mb-8 flex items-center justify-between">
  <h1 class="text-3xl font-semibold text-gray-900">{{ 'EVENT_LIST.TITLE' | translate }}</h1>

  @if (canCreateEvents()) {
  <app-button-container
    [label]="'EVENT_LIST.BUTTONS.CREATE_EVENT' | translate"
    variant="primary"
    size="lg"
    (clickEvent)="onCreateEvent()"
  ></app-button-container>
  }
</div>

<app-event-list-view
  [events]="pagedEvents()"
  [columns]="tableColumns"
  [types]="types()"
  [statuses]="statuses()"
  [locations]="locations()"
  [selectedTypes]="selectedTypes()"
  [selectedStatuses]="selectedStatuses()"
  [selectedLocations]="selectedLocations()"
  [nameQuery]="nameQuery()"
  [startTimeQuery]="startTimeQuery()"
  [totalItems]="totalFilteredItems()"
  [pageIndex]="pageIndex()"
  [pageSize]="pageSize()"
  [pageSizeOptions]="pageSizeOptions"
  [isLoading]="isLoading()"
  [userRole]="userRole()"
  [canCompleteEvent]="canCompleteEvent"
  (nameSearchChange)="onNameSearchChange($event)"
  (typeChange)="onTypeChange($event)"
  (statusChange)="onStatusChange($event)"
  (locationChange)="onLocationChange($event)"
  (startTimeChange)="onStartTimeChange($event)"
  (resetFilters)="onResetFilters()"
  (pageChange)="onPageChange($event)"
  (viewEvent)="onViewEvent($event)"
  (editEvent)="onEditEvent($event)"
  (publishEvent)="onPublishEvent($event)"
  (completeEvent)="onCompleteEvent($event)"
>
</app-event-list-view>

@if (selectedEventId(); as eventId) {
<app-event-card-container
  [eventId]="eventId"
  [participationStatus]="selectedEventParticipationStatus()"
  (checkIn)="onCheckIn($event)"
  (close)="onCloseEventCard()"
></app-event-card-container>
}

<app-publish-event-container
  [eventId]="publishingEventId()"
  (published)="onPublishSucceeded()"
  (finished)="onPublishFinished()"
></app-publish-event-container>
